<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Code Highlighting Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-{{lang}}.min.js"></script>
    <script>
      {{js_file_contents}}
    </script>
  </head>
  <body>
    <pre><code class="language-{{lang}} line-numbers">{{source_file_contents |escape}}</code></pre>
  </body>
</html>
